openapi: 3.0.1
info:
  title: Api Bot MetalCorp
  description: Esta API se encarga del manejo de informacion de la base da datos de la empresa Metalcorp.
  version: 1.0.0
servers:
- url: https://api.metalcorp/v1/
tags:
- name: Reservas
  description: Este endpoint se encarga en todo lo relacionado con la reserva de productos.
- name: Sucursales
  description: Este endpoint se encarga en todo lo relacionado con la información de las sucursales.
- name: Productos
  description: Este endpoint se encarga en todo lo relacionado con la información de las sucursales.
  
paths:
  /reserves:
    post:
      tags:
      - Reservas
      summary: Inserta una nueva reserva a la base de datos.
      parameters:
      - $ref: '#/components/parameters/token'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BodyReservasPost'
        required: true
      responses:
        200:
          description: (OK) La reserva se guardo correctamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exito'
        401:
          $ref: '#/components/responses/unauthorized'
        400:
          $ref: '#/components/responses/BadRequest'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/ServerError'
    
  /products/{idProducto}:
    get:
      tags:
      - Productos
      summary: Obtiene los datos de un producto mediante su id.
      parameters:
      - $ref: '#/components/parameters/token'
      - name: idProducto
        in: path
        description: "El id del producto a obtener"
        required: true
        schema:
          type: integer
          additionalProperties: false
          format: int64
        
      responses:
        200:
          description: (OK) Solicitud procesada correctamente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Products'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/ServerError'
  
  /subsidiaries:
    get:
      tags:
      - Sucursales
      summary: Obtiene la lista de sucursales de la empresa
      parameters:
      - $ref: '#/components/parameters/token'
        
      responses:
        200:
          description: (OK) Solicitud procesada correctamente.
          content:
            application/json:
              schema:
                  type: "array"
                  items:
                    $ref: "#/components/schemas/Subsidiaries"
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/ServerError'
          
components:
  responses:
    unauthorized:
      description: No hay autorización para llamar al servicio
    NotFound:
      description: No se encontro la información
    ServerError:
      description: Error del servidor
    SaveCorrectReserve:
      description: La reserva se guardo correctamente
    GetCorrectProducts:
      description: La información del producto se obtuvo correctamente
    BadRequest:
      description: Solicitud Incorrecta
  
  parameters:
    token:
        name: token
        in: header
        description: Token de autenticación.
        required: true
        schema:
          type: string
    
    descripcion:
        name: description
        in: query
        description: Datos del producto.
        required: false
        schema:
          type: string
    
    
  
  schemas:
    BodyReservasPost:
      type: object
      properties:
        id:
          type: string
          description: Id del cliente
        subsidiary:
          type: string
          description: id de la sucursal
        products:
          type: "array"
          items:
            $ref: "#/components/schemas/Products"
          
        date::
          type: string
          format: date
          description: fecha para el recojo de la reserva
          
    Products:
      type: object
      properties:
        name:
          type: string
          description: nombre del producto
        stock:
          type: number
          description: cantidad del producto
        price:
          type: number
          description: precio del producto
    Subsidiaries:
      type: object
      properties:
        id:
          type: number
          description: id de la sucursal
        name:
          type: string
          description: nombre de la sucursal
        ubicacion:
          type: string
          description: ubicacion de la sucursal
        attention:
          type: string
          description: horarios de atención de la sucursal
        number:
          type: number
          description: número de telefono de la sucursal
    
    Exito:
      type: object
      properties:
        respuesta:
          type: integer
          enum: [1]
          description: Bandera que indica si la llamada fue exitosa.
          
