#Aruquipa Peralta Teddy Leyder
openapi: 3.0.1
info:
  title: Api Bot MetalCorp
  description: Esta API se encarga del manejo de informacion de la base da datos de la empresa Metalcorp.
  version: 1.0.0
servers:
- url: https://api.metalcorp/v1/user/
tags:
- name: user
  description: Este endpoint maneja la información relacionada con la informacion de los usuarios (empleados y administrador).
- name: products
  description: Este endpoint maneja la información relacionada con la informacion de todos los productos registrados.
  
paths:
  /:
    post:
      tags:
      - user
      summary: Verifica la informacion del usuario que desea iniciar sesion
      parameters:
      - $ref: '#/components/parameters/token'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginUserPost'
        required: true
      responses:
        200:
          description: (OK) Datos ingresados correctos.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exito'
        401:
          $ref: '#/components/responses/Unauthorized'
        400:
          $ref: '#/components/responses/BadRequest'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/ServerError'
    
  /products:
    get:
      tags:
      - products
      summary: Controla la informacion de los productos.
      parameters:
      - $ref: '#/components/parameters/descripcion'
      responses:
        200:
          description: (OK) Solicitud procesada correctamente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exito'
        401:
          $ref: '#/components/responses/Unauthorized'
        400:
          $ref: '#/components/responses/BadRequest'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/ServerError'
  
  /products/add:
    post:
      tags:
      - products
      summary: Agrega un nuevo producto a la base de datos.
      parameters:
      - $ref: '#/components/parameters/token'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddProductPost'
        required: true
      responses:
        200:
          description: (OK) Datos ingresados correctamente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exito'
        401:
          $ref: '#/components/responses/Unauthorized'
        400:
          $ref: '#/components/responses/BadRequest'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/ServerError'
          
components:
  responses:
    Unauthorized:
      description: (Unauthorized) no hay autorizacion.
      
    NotFound:
      description: (NotFound) no se encontro al usuario.
      
    BadRequest:
      description: (BadRequest) los datos son incorrectos o existe un dato obligatorio no enviado.
      
    ServerError:
      description: Error en el servidor.
  
  parameters:
    token:
        name: token
        in: header
        description: Token de autenticación.
        required: true
        schema:
          type: string
    
    descripcion:
        name: description
        in: query
        description: Datos del producto.
        required: false
        schema:
          type: string
  
  schemas:
    LoginUserPost:
      type: object
      properties:
        username:
          type: string
          description: nombre de usuario
        password:
          type: string
          description: contraseña de usuario
          
    AddProductPost:
      type: object
      properties:
        nombre_producto:
          type: string
          description: nombre del producto
        categoria:
          type: string
          description: categoria del producto
        codigo:
          type: string
          description: codigo del producto
        imagen_producto:
          type: object
          description: imagen referencial
        cantidad:
          type: integer
          description: cantidad disponible
        precio:
          type: number
          description: precio del producto
    
    Exito:
      type: object
      properties:
        respuesta:
          type: integer
          enum: [1]
          description: Bandera que indica si la llamada fue exitosa.
          
          